@use 'sass:math';

// Layout
@mixin flex(
  $flow: row nowrap,
  $content: center,
  $a-items: center,
  $a-content: center
) {
  display: flex;
  flex-flow: $flow;
  justify-content: $content;
  align-items: $a-items;
  align-content: $a-content;
}

@mixin mw($width) {
  flex: 0 0 $width;
  max-width: $width;
}

// Size Calculations
@function rem($sizeValue: 16) {
  @return ($sizeValue / 16) + rem;
}

@function rel($size, $rel) {
  @return math.div($size, $rel);
}

@function em($size, $rel) {
  @return rel($size, $rel) * 1em;
}