.main-header {
  background-color: $white;
  @include flex(row nowrap, flex-start);
  border-bottom: rem(5) solid $green;
  color: $accent;

  &__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__logo {
    max-width: rem(40);

    @media screen and (min-width: 992px) {
      max-width: rem(100);
    }
  }

  &__logo-h1 {
    font-size: rem(30);
    padding-right: rem(25);

    @media screen and (min-width: 992px) {
      font-size: rem(100);
      padding-right: rem(50);
    }
  }
}

a:link,
a:visited,
a:active {
  color: $accent;
  text-decoration: none;
}

a:hover {
  color: $accent;
}

content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: $accent-dark;
}

article {
  width: 70%;
  background-color: $white;
  display: flex;
}

.left,
.right {
  width: 50%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.product {
  width: rem(200);
}

.tile {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

footer {
  padding: rem(20);
  border-top: rem(5) solid $green;
}
